{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block body_class %}sign-form{% endblock %}

{% block content %}
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="" />
    </div>
    <div class="content">
        <form class="login-form" action="" method="post">
            <h3 class="form-title">{% trans "Log in" %}</h3>
            {% if form.errors %} {% for error in field.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %} {% endif %} {% crispy form %}
            <hr>{% include "account/partials/_providers_list.html" %}
            <hr>
            <p class="text-muted text-center">
                <small>{% trans "Already have an account?" %}</small>
            </p>
            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-block btn-default">
                {% trans "Create an account" %}
            </a><br>

            <p>
                <a href="{% url 'account_reset_password' %}">{% trans 'Forgotten password?' %}</a>
            </p>
        </form>
    </div>
{% endblock %}
