{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}
{% block title %}{% trans "Delete Password" %}{% endblock %}
{% block body_class %}sign-form{% endblock %}
{% block content %}
    <div class="logo"><img src="{% static 'img/logo.png' %}"  alt="@jvacx" /></div>
    <div class="content">
        <h3 class="form-title">{% trans "Delete Password" %}</h3>
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
        {% endif %}
        <hr>
        <p>{% blocktrans %}You may delete your password since you are currently logged in using OpenID.{% endblocktrans %}</p>
        <form method="post" action="./">
            {% csrf_token %}
            <button class="btn" type="submit">{% trans "delete my password" %}</button>
        </form>
        <a class="btn btn-lg btn-block btn-success" href="{% url 'home' %}">{% trans 'Home' %}</a></p>
    </div>
{% endblock %}