{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}
{% block body_class %}sign-form{% endblock %}
{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content %}
    <div class="logo"><img src="{% static 'img/logo.png' %}"  alt="" /></div>
    <div class="content">
        <h3 class="form-title">{% trans 'Password change successful' %}</h3>
        <p class="description">{% trans "You password has been changed sucefully, thanks for use our site. " %}</p><hr>
        <a class="btn btn-lg btn-block btn-success" href="{% url 'home' %}">{% trans 'Home' %}</a></p>
    </div>
{% endblock %}