<div class="header">
    <div class="container">
        <h1><a href="#">Congreso de Ingenieria BioMedica</a></h1>
        <p class="subtitle"> 3 Dias conferencia, workshops, Excelentes expositores... y mucho mas  <strong><a href="#"> 200 cupos </a></strong>.</p>

        <div class="when">
            <div class="icon-holder">
                <i class="fa fa-calendar"></i>
            </div>
            <div>
                <p><strong>CUANDO</strong></p>
                <p><span>23 al 25 abril 2014</span><br />Inicia 9:00 am</p>
            </div>
        </div>

        <div class="where">
            <div class="icon-holder">
                <i class="fa fa-map-marker"></i>
            </div>

            <div>
                <p><strong>DONDE</strong></p>
                <p><span>La Paz - Bolivia</span><br /><a href="#">Universidad Catolica Boliviana "San Pablo"</a></p>
            </div>
        </div>

        <div class="register-now">
            <p> Inscripcion con un descuento  del 10% hasta 18 de Marzo</p>
            <a href="#registration" class="button">INSCRIBASE AHORA</a>
        </div>
    </div>
</div>