{% load static from staticfiles %}
<div class="location">
    <div class="container">
        <h2>Direccion y Ubicacion</h2>
        <p class="subtitle">zona llena de grandes hoteles y restaurantes.</p>
        <div class="info">
            <div class="maps">
                <div class="images">
                    <img src="{% static 'images/placeholder.jpg' %}" />
                </div>
                <div id="map_canvas">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.2662787783107!2d-68.11202799999934!3d-16.522810005950035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20ee187a3103%3A0x2f2bb2b7df32a24d!2sUniversidad+Catolica+Boliviana+%22San+Pablo%22!5e0!3m2!1ses!2sbo!4v1424722712556" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <!--
            <div class="address">
                <h4>Spend three inspiring days in the cultural and cosmopolitan city of London. The area is full of great hotels, restaurants and galleries.</h4>
                <h5><i class="fa fa-chevron-right"></i> Venue</h5>
                <div class="venue">
                    <p><span>Town and Country Resort & Convention Center</span></p>
                    <p>500 Hotel Circle North</p>
                    <p>San Diego, CA 92108</p>
                    <a href="#">Book Online</a>
                </div>
                <h5><i class="fa fa-chevron-right"></i> Nearby Accomodation</h5>
                <div class="venue">
                    <p><span>Town and Country Resort & Convention Center</span></p>
                    <p>500 Hotel Circle North</p>
                    <p>San Diego, CA 92108</p>
                    <a href="#">Book Online</a>
                </div>
                <div class="venue">
                    <p><span>Town and Country Resort & Convention Center</span></p>
                    <p>500 Hotel Circle North</p>
                    <p>San Diego, CA 92108</p>
                    <a href="#">Book Online</a>
                </div>
                <div class="venue">
                    <p><span>Town and Country Resort & Convention Center</span></p>
                    <p>500 Hotel Circle North</p>
                    <p>San Diego, CA 92108</p>
                    <a href="#">Book Online</a>
                </div>
                <h5><i class="fa fa-chevron-right"></i> Additional details</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            -->
        </div>
    </div>
</div>