{% load static from staticfiles %}
<div class="speakers">
    <div class="container">

        <h2>Los Expositores</h2>
        <p class="subtitle">Expertos en el Area Nacionales e Internacionales</p>

        <div class="featured">
            <div class="image">
                <img src="{% static 'images/featured-speaker.jpg' %}" alt="" />
            </div>
            <div>
                <h3>PONENTE DESTACADO: PhD. Antonio Luque.</h3>
                <p class="title"> </p>
                <p>Profesor asociado en el Departamento de Ingenieria Electronica  de la Universidad de Sevilla, España</p>
                <p>Introduccion a  microsistemas (MEMS) y microfluidica.</p>
                <p>Sistemas Lab-on-chip para diagnosticos.</p>
                <p>Produccion de radio farmacos para PET on-chip.</p>
            </div>
        </div>

        <div class="single">
            <img src="{% static 'images/speaker_1.jpg' %}" alt="" />
            <div>
                <h3> Víctor Copa<br /></h3>
                <p><strong>BioTecno - Bolivia</strong></p>
                <p>Ingeniero especializado en el area de BioMedica,  Tratamiento para Neonatos con Tecnología Led`s</p>
                <p><a href="#"><i class="fa fa-twitter fa-lg"></i></a> <a href="#"><i class="fa fa-linkedin fa-lg"></i></a></p>
            </div>
        </div>

        <div class="single">
            <img src="{% static 'images/speaker_2.jpg' %}" alt="" />
            <div>
                <h3>Ruddy<br /> Guaraz</h3>
                <p><strong>Jefe de Ing BioMedica (UCB) - Bolivia</strong></p>
                <p>.</p>
            </div>
        </div>

        <div class="single">
            <img src="{% static 'images/speaker_3.jpg' %}" alt="" />
            <div>
                <h3>Antonio<br />  Luque</h3>
                <p><strong>PhD with honors, University of Seville - España</strong></p>
                <p> Introducción a microsistemas (MEMS) y microfluídica, Sistemas Lab-on-chip para diagnóstico, Producción de radio-fármacos para PET on-chip.</p>
            </div>
        </div>

        <div class="single">
            <img src="{% static 'images/speaker_4.jpg' %}" alt="" />
            <div>
                <h3>Ricardo A.M. Taborda<br /></h3>
                <p><strong>Argentina </strong></p>
                <p>What is Bioengineering ?  Las Areas Estrategicas de I+D en Ing. Biomedica. La importancia de enseñar normas en Ing. Biomédica.</p>
            </div>
        </div>

    </div>
</div>