{% load static from staticfiles %}
<div class="sponsors">
    <div class="container">
        <h2>Sponsors & Partners</h2>
        <p class="subtitle">Interesado en ser un Sponsor ? <a href="#" class="open-contact-form">Contactenos</a></p>
        <div class="slides">
            <ul>
                <li><a href="#"><img src="{% static 'images/3docean-light-background.png' %}" /></a></li>
                <li><a href="#"><img src="{% static 'images/activeden-light-background.png' %}" /></a></li>
                <li><a href="#"><img src="{% static 'images/graphicriver-light-background.png' %}" /></a></li>
                <li><a href="#"><img src="{% static 'images/videohive-light-background.png' %}" /></a></li>
            </ul>
        </div>
    </div>
</div>