{% load static from staticfiles %}
<nav role="navigation" class="navbar navbar-default navbar-base navbar-fixed-top app-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
                <i class="fa fa-bars"></i>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand page-scroll">
                <div class="brand">
                    <i class="fa fa-th"></i>
                    BitBang
                </div>
            </a>
        </div>
        <div class="navbar-collapse navbar-right navbar-main-collapse collapse in" style="">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="btn btn-primary" href="{% url 'account_login' %}">
                        <i class="fa fa-sign-in"></i> Iniciar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>