{% load static from staticfiles %}
{% load i18n avatar_tags %}


<nav role="navigation" class="navbar navbar-default {% if not user.is_authenticated %}navbar-base{% endif %} navbar-fixed-top app-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
                <i class="fa fa-bars"></i>
            </button>
            <a href="#" class="navbar-brand page-scroll">
                <div class="brand">
                    <i class="fa fa-th"></i>
                    Home
                </div>
            </a>
        </div>
    </div>
</nav>