<div class="overlay" style="display: none;">
    <div class="contact-form">
        <h3>Contactos</h3>
        <p>Nosotros le responderemos a la brevedad posible</p>
        <div class="form">
            <form action="http://demo.mage-themes.com/themes/event/event-blue/contact.php" method="post">
                <input type="text" name="name" placeholder="Nombre"/>
                <input type="text" name="email" placeholder="Correo"/>
                <textarea name="message" placeholder="Mensaje"></textarea>
                <button name="submit" type="submit">Enviar correo</button>
            </form>
        </div>
        <p class="error"></p>
        <p class="message"></p>
        <a href="#" class="close-contact-form"><i class="fa fa-times fa-lg"></i></a>
    </div>
</div>