<div class="schedule">
    <div class="container">

        <h2>CRONOGRAMA DE CONFERENCIAS </h2>
        <p class="subtitle">INCLUIDAS CON ALTO CONTENIDO DE CALIDAD </p>

        <div class="tabs">

            <ul>
                <li><a href="#tabs-1">Day 1, 23</a></li>
                <li><a href="#tabs-2">Day 2, 24</a></li>
                <li><a href="#tabs-3">Day 3, 25</a></li>
            </ul>

            <!--  dia uno -->
            <div id="tabs-1" class="day">

            <div class="event">
                <div class="event-time">08:00 -10:00 <span></span></div>
                <div class="event-info">
                    <div>
                        <h4>Registro Dia 1</h4>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-time">10:00 -10:30 </div>
                <div class="event-info">
                    <div>
                        <h4>RECESO - Snack</h4>
                    </div>
                </div>
            </div>

            <div class="event extend">
                <div class="event-time">10:30 - 12:30 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-time">12:30 -14:00 </div>
                <div class="event-info">
                    <div>
                        <h4>RECESO - Almuerzo</h4>
                    </div>
                </div>
            </div>

            <div class="event extend">
                <div class="event-time">14:00 - 16:00 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-time">16:00 -16:30 </div>
                <div class="event-info">
                    <div>
                        <h4>RECESO - Almuerzo</h4>
                    </div>
                </div>
            </div>

            <div class="event extend">
                <div class="event-time">16:30 - 18:30 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="event extend">
                <div class="event-time">19:00 - 21:30 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>INAUGURACION</h4>
                        <p class="speaker"><strong>Evento de Gala</strong><br/>EXPOSITOR: Comite Organizador</p>
                        <p></p>
                    </div>
                </div>
            </div>

            </div>

            <!-- dia  dos-->
            <div id="tabs-2" class="day">

                <div class="event extend">
                    <div class="event-time">8:00 - 10:00 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>Ponencia</h4>
                            <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="event-time">10:00 -10:30 </div>
                    <div class="event-info">
                        <div>
                            <h4>RECESO - Snack</h4>
                        </div>
                    </div>
                </div>

                <div class="event extend">
                    <div class="event-time">10:30 - 12:30 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>Ponencia</h4>
                            <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="event-time">12:30 -14:00 </div>
                    <div class="event-info">
                        <div>
                            <h4>RECESO - Almuerzo</h4>
                        </div>
                    </div>
                </div>

                <div class="event extend">
                    <div class="event-time">14:00 - 16:00 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>Ponencia</h4>
                            <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="event-time">16:00 -16:30 </div>
                    <div class="event-info">
                        <div>
                            <h4>RECESO - Almuerzo</h4>
                        </div>
                    </div>
                </div>

                <div class="event extend">
                    <div class="event-time">16:30 - 18:30 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>Ponencia</h4>
                            <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="event extend">
                    <div class="event-time">19:00 - 21:30 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>INAUGURACION</h4>
                            <p class="speaker"><strong>Evento de Gala</strong><br/>EXPOSITOR: Comite Organizador</p>
                            <p></p>
                        </div>
                    </div>
                </div>

            <div class="event extend">
                <div class="event-time">8:00 - 10:00 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="event-time">10:00 -10:30 </div>
                <div class="event-info">
                    <div>
                        <h4>RECESO - Snack</h4>
                    </div>
                </div>
            </div>
            <div class="event extend">
                <div class="event-time">10:30 - 12:30 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="event-time">12:30 -14:00 </div>
                <div class="event-info">
                    <div>
                        <h4>RECESO - Almuerzo</h4>
                    </div>
                </div>
            </div>
            <div class="event extend">
                <div class="event-time">14:00 - 16:00 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="event-time">16:00 -16:30 </div>
                <div class="event-info">
                    <div>
                        <h4>RECESO - Snack</h4>
                    </div>
                </div>
            </div>
            <div class="event extend">
                <div class="event-time">16:30 - 18:30 <span><i class="fa fa-angle-up"></i></span></div>
                <div class="event-info">
                    <div>
                        <h4>Ponencia</h4>
                        <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                        <p></p>
                    </div>
                </div>
            </div>

            </div>

            <!-- dia tres -->
            <div id="tabs-3" class="day">
                <div class="event">
                    <div class="event-time">10:00 -10:30 </div>
                    <div class="event-info">
                        <div>
                            <h4>LIBRE </h4>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="event-time">10:00 -10:30 </div>
                    <div class="event-info">
                        <div>
                            <h4>RECESO - Snack</h4>
                        </div>
                    </div>
                </div>
                <div class="event extend">
                    <div class="event-time">10:30 - 12:30 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>Ponencia</h4>
                            <p class="speaker"><strong>Ponencias en paralelo</strong><br/>EXPOSITOR: por designar</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="event-time">12:30 -14:00 </div>
                    <div class="event-info">
                        <div>
                            <h4>RECESO - Almuerzo</h4>
                        </div>
                    </div>
                </div>
                <div class="event extend">
                    <div class="event-time">14:00 - 18:30 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>FERIA EMPRESARIAL</h4>
                            <p class="speaker"><strong>FERIA DE EMPRESAS</strong><br/>EXPOSITOR: Invitadas</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="event extend">
                    <div class="event-time">19:00 - 21:30 <span><i class="fa fa-angle-up"></i></span></div>
                    <div class="event-info">
                        <div>
                            <h4>CLAUSURA</h4>
                            <p class="speaker"><strong>Evento de Gala</strong><br/>EXPOSITOR: Comite Organizador</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
