<div class="social">
    <div class="container">
        <div>
            <h2>Solicite mas informacion</h2>
            <!-- <p class="subtitle">Signup to our newsletter or connect via social networks</p> -->
            <form action="" method="post">
                <input type="text" name="name" placeholder="enter your email address" />
                <button name="submit" type="submit"><i class="fa fa-arrow-circle-right"></i></button>
            </form>
            <a href="https://www.facebook.com/events/767982139923217/"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
</div>