<div class="topics">
    <div class="container">
        <h3><strong>Por tres dias,</strong><br/>Expertos en el Area resolviendo tus Dudas</h3>
        <p>Esta primera edición del congreso ofrecerá la oportunidad para que profesionales afines a los campos de ingeniería, medicina, biología, quimica entre otros compartan y discutan acerca de tendencias tecnologicas en Ingenieria BioMedica  Adicionalmente, los asistentes tendrán la oportunidad de interactuar y formar nuevas conexiones con profesionales y empresas  de alto prestigio nacional e internacional.</p>

        <div>
            <i class="fa fa-code fa-2x"></i>
            <h4><strong>Ponencias Magistrales</strong></h4>
            <p>Contaremos con la prescencia de investigadores y profesores de diferentes universidades nacionales e internacionales.</p>
        </div>

        <div>
            <i class="fa fa-line-chart fa-2x"></i>
            <h4><strong>Oportunidad de networking</strong></h4>
            <p> Este congreso es una gran oportunidad de conocer a personas interesadas en el area.</p>
        </div>

        <div>
            <i class="fa fa-line-chart fa-2x"></i>
            <h4><strong>Feria Empresarial</strong></h4>
            <p> En esta oportunidad empresas y entidades del area mostraran sus productos y servicios. </p>
        </div>
    </div>
</div>