<div class="why">
    <div class="container">
        <!--     <div class="testimonials">
            <h4>Testimonios</h4>
            <div class="slides">
                <blockquote>
                    Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
                    <cite>Mike Jonson<br /><span>Frontend Developer</span></cite>
                </blockquote>
                <blockquote>Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
                    <cite>Jennifer Jonson<br /><span>Frontend Developer</span></cite>
                </blockquote>
                <blockquote>
                    Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
                    <cite>Smith Jonson<br /><span>Frontend Developer</span></cite>
                </blockquote>
            </div>
        </div>
        -->
        <div class="bullets">
            <h3><strong>Porqué este Congreso es para ti?</strong></h3>
            <div>
                <h4><i class="fa fa-check"></i>Mantenerse al tanto de los avances</h4>
                <p></p>
            </div>
            <div>
                <h4><i class="fa fa-check"></i>Encontrar nuevas formas de pensamiento y resolución de problemas</h4>
                <p>.</p>
            </div>
            <div>
                <h4><i class="fa fa-check"></i>Oportunidades de Networking </h4>
                <p></p>
            </div>
            <div>
                <h4><i class="fa fa-check"></i> Mejora tus habilidades</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>