{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block page %}

    {% include "partials/header.html" %}
    {% include "partials/topics.html" %}
    <a id="speakers" class="anchor"></a>
    {% include "partials/speakers.html" %}
    <a id="scheadule" class="anchor"></a>
    {% include "partials/scheadule.html" %}
    {% include "partials/why.html" %}
    <a id="registration" class="anchor"></a>
    {% include "partials/registration.html" %}
    <a id="sponsors" class="anchor"></a>
    {% include "partials/sponsors.html" %}
    <a id="location" class="anchor"></a>
    {% include "partials/location.html" %}
    {% include "partials/social.html" %}
    {% include "partials/footer.html" %}
    {% include "partials/loader.html" %}
{% endblock %}




